{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry
      </h1>

      <p>Unfortunately you do not meet the criteria to apply for your juggling licence.</p>

      <p>To find out more and to check eligibilty criteria please visit <a href="/url/of/onward/page">this page</a>.</p>

    </div>
  </div>

{% endblock %}
